.langSwitcher {
  position: relative;
  user-select: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.2rem;
  position: absolute;
}

.bold {
  font-weight: bold;
}
