.container {
  display: flex;
  flex-direction: column;

  background-color: black;
  color: white;

  font-size: 1rem;

  padding: 1rem;
}

.main {
  display: flex;

  height: 100%;

  padding: 1rem 0 4rem;
}

.poster {
  max-width: 1440px;
  height: 600px;

  border-radius: 10px;
}

.properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 40px;
}

.property {
  padding: 10px 0;
}

.properties p,
h6 {
  font-style: bold;
  font-size: 1.2rem;
}

.propertyGenres {
  display: flex;
  gap: 10px;
}

.genre {
  border-radius: 10px;
  padding: 5px 10px 10px;
  background-color: rgb(21, 21, 116);
}

.actorsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

h1 {
  margin-bottom: 2rem;
}

.none {
  display: none;
}

.recommendationHeader {
  margin-top: 4rem;
}

.recommendationContainer {
  margin-top: 3rem;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
